.container {
    width: 100%;
  height: 500px;
  background: linear-gradient(90deg, rgb(242, 247, 248) 0%, rgb(165, 180, 184) 35%, rgb(242, 247, 248)100% );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 52px;
    color: rgb(7, 73, 111);
    text-shadow: 2px 2px #05040c;
    
  }

  p {
    font-weight: 700;
    font-size: 25px;
    color: rgba(8, 17, 17, 0.78);
    background: rgb(243, 242, 238);
    padding: 10px;
  }
  
}