.container {
    width: 100%;
  height: 500px;
  background: #022836;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 52px;
    color: rgb(238, 228, 229);
    text-shadow: 2px 2px #7860ff;
  }

  p {
    font-weight: 700;
    font-size: 25px;
    color: rgba(8, 17, 17, 0.78);
    background: rgb(233, 206, 31);
    padding: 10px;
  }
  
}